/* CUSTOM FONTS */

@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto+Slab&display=swap');

/* ***************************************************************************** */
/* Contributions: */
/* Header and Footer were styled by Hazel O'Keeffe. */
/* The Logo was created by Kristina Kozaj. */
/* CSS Layout styling was applied to the Logo and Icons (in Footer and Header) by Kenjiro Ono. */
/* Navigation Bar links were adjusted by Kristine Kuprevica.*/
/* Audio to Header was added by Kristine Kuprevica. */


/********** STYLES FOR ALL PAGES **********/



/* The Header consists of the Logo, current Opening Times, Language, Shopping Cart, Music controls and Navigation Bar. It is fixed to the top of the page and stays there, when the user scrolls. */
header {
    overflow: visible;
    background-color: white;
    position: sticky;
    /* Set the Navigation Bar to fixed position */
    top: 0;
    width:100%;
    z-index:100;
}


/* Style and place the Logo 
.logo_container {
display: grid;
grid-template-columns: auto;
text-align: center;
z-index: -1;
margin: auto auto;
max-width: 400px;
min-width: 100px;
}

*/

/* Style and place the Logo */
/* ensure logo is responsive to screensize */
.logo_container {
    text-align:center;
    margin:auto;
    width:30%;
    max-width:400px;
    min-width:200px;
    min-height: 125px;
}



.logo_container img {
    width: 100%;
    height: auto;
}

/* Style and place the Header buttons */
.header_buttons_right {
    position: absolute;
    top: 58px;
    right: 50px;
}
.header_buttons_left {
    position: absolute;
    top: 58px;
    left: 50px;
    cursor: pointer;
}

/* Style and place the Opening Times text */
.opening_today {
    font-family: "Roboto Slab", "Arial", Serif;
    color: #091475;
    padding-left: 110px;
    position: absolute;
    top: 45px;
    text-align: left;
    z-index: -1;
}

.opening_today span {
    text-transform: uppercase;
    font-weight: bold;
    color: #091475;
}

/* Adds padding around the individual Header buttons */
.header_buttons_right img {
    padding: 1px;
}
.header_buttons_left img {
    padding: 1px;
}

/* This adds the scaling effect to the header buttons on the right */
.header_buttons_right :hover{
    transform: scale(1.1,1.1);
}

/* The tool tip is used to show a pop up informing users that more languages are coming soon */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #9e34b4;
    font-size:smaller;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-top:5px;
    z-index: 1;
}

/* Show the Tooltip text, when you hover over the Flag icon */
.tooltip:hover .tooltiptext {
    visibility: visible;
    transform: scale(1,1);
}


/* Style and place the Navigation Bar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e1fb5;
}

nav li {
    float: left;
    width: 33%;
}

nav li:nth-child(2) {
    /* A slight hack-around- to get the Navigation Bar to equal 100% - set the second li to 34%, while the rest stay at 33% */
    float: left;
    width: 34%;
}

nav li a,
.dropbtn {
    display: block;
    color: white;
    font-family: "Roboto Slab", "Arial", Serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover,
.dropdown:hover .dropbtn {
    background-color: #091475;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    /* Styles the dropdown element */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 33%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    /* Styles text and appearance of links in dropdown */
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    text-align: center;
}


.dropdown-content a:hover {
    /* Changes colour of dropdown element being hovered over */
    background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
    /* Displays the dropdown content on hover */
    display: block;
}


.anchor {
    /* This is to fix the anchor display issue, caused by having a sticky Header */
    padding-top: 390px;
    margin-top: -390px;
}


/* Styling the Footer */
footer {
    margin-top: 20px;
    /* Translucent BG colour to differentiate Footer */
    background-color: rgba(4,9,54,0.9);
    width: 100%;
    background-size: cover;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    color: white;
    font-family: "Roboto Slab", "Arial", Serif;
    letter-spacing: 0.1em;
}


footer a {
    text-decoration: none;
}


.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 80%;
    margin-left: 120px;
    margin-right: 120px;
    column-gap: 30px;
}


footer ul {
    list-style-type: none;
    padding: 10px;
}


footer ul a {
    color: white;
}


footer ul a:hover {
    color: #9e34b4;
}


.copyright {
    text-align: right;
    max-width: 80%;
    margin-left: 120px;
    margin-right: 120px;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    padding: 25px;
}


.padded_bottom {
    padding-bottom: 25px;
    max-width: 250px;
}

.padded_bottom img {
    padding-bottom: 10px;
    max-width: 250px;
}


.padded_bottom img:hover{
    transform: scale(1.1,1.1);

}


/* This section styles the info accordian in the Footer */
summary {
    display: block;
    cursor: pointer;
    padding: 10px;
    background-color: #9e34b4;
    transition: 1s;
    margin-bottom: 5px;
    max-width: 400px;
}


.accordian_details {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    background-color: white;
    margin-bottom: 15px;
    color: black;
    margin-top: -5px;
    max-width: 400px;
}


footer table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
    max-width: 250px;
    min-width: 220px;
}


footer table th {
    width: 50%;
    padding: 5px;
}


footer table tr:nth-child(odd) td {
    background: #f1f1f1;
}


footer table tr:nth-child(odd) th {
    background: #f1f1f1;
}


address {
    font-style: normal;
}


.contact_info {
    color: black;
}


.contact_info:hover {
    color: #9e34b4;
}


p {
    font-family: "Roboto Slab", "Arial", Serif;
    font-size: 14px;  
}

/* ***************************************************************************** */
/* Contributions: */ 
/* Home Page was styled by Kristina Kozaj. */
/* Minor issues were fixed by Kristine Kuprevica. */
/* The size of the Main Automatic Slideshow was fixed by Kenjiro Ono. */
/* The dots of the Main Automatic Slideshow were fixed by Kristine Kuprevica. */
/* Button was styled by Kristine Kuprevica and Kenjiro Ono. */
/* Slideshow to Social Media Feed was added by Kristine Kuprevica. */
/* Clean up, merges of file version and validation fixes added by Hazel O'Keeffe */


/********** STYLES FOR INDEX **********/

h3 {
    text-align: left;
}

h4 {
    font-size: 20px;
    text-align: left;
}

/* Styling for slideshow container*/
.slideshow-container {
    border-radius: 25px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 20px;
    position: relative;
    max-height: 560px;
    min-width: 300px;
    min-height: auto;
    overflow: hidden;
    text-align: center;
    z-index: -1;
    border-radius: 25px;
}

.favorite-attractions img {
    display: block;
    max-width: 100%;
    height: auto;
}

.contain {
    object-fit: contain;
}

/*Styling navigation points under slideshow container*/
.point {
    height: 15px;
    width: 15px;
    margin: 10px 4px;
    background-color: #9E34B4;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #fff0f5;
}

.point-container {
    text-align: center;
    align-content: flex-end;
}


/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.active {
    background-color: #fff0f5;
}


/* Styling the Mission Statement container */
.mission {
    display: grid;
    grid-template-columns: auto;
    margin-left: 120px;
    margin-right: 120px;
    overflow: hidden;
    z-index: -1;
    border-radius: 25px;
    padding: 10px;
    background: rgb(0, 0, 205); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 205, 0.7);
}

.mission p {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: "Roboto Slab", "Arial", Serif;
    padding-left:20px;
    padding-right:20px;
}

/*Styling container for attractions and customer reviews*/
.home_wrapper {
    display: grid;
    grid-template-columns: 68% auto;
    margin-left: 120px;
    margin-right: 120px;
    overflow: hidden;
    z-index: -1;
    text-align: justify;
}

.home_content {
    display: inline-block;
    max-width: 100%;
    z-index: -1;
    text-align: justify-all;
}


/* Styling attractions */
.our-favorite-space-adventures {
    border-radius: 25px;
    background-color: #FFFFFF;
    clear: both;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:20px 20px 0px 20px;
}

.gradient_heading {
    font-family: 'Luckiest Guy', cursive;
    font-size:25px;
    padding-bottom:10px;
    color: #0e1fb5;
    /* adds a gradient colour to the text*/
    background: linear-gradient(#0e1fb5, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.attraction_container {
    overflow: auto;
    padding-bottom:25px;
}

.attraction_image_holder {
    width:30%;
    max-width:100%;
    max-height:100%;
    float:left;
    display:inline-block;
}

.attraction_image_holder img{
    max-width:100%;
    max-height:100%;
    border-radius: 25px;
}

.attraction_description {
    width:70%;
    float:left;
    padding:0px 10px 0px 30px;
}

.attraction_description h4 {
    font-family: "Roboto Slab", "Arial", Serif;
    font-weight:bold;
    margin-top: 0px;
}

/* Styling customer reviews*/
.customer_reviews {
    border-radius: 25px;
    background-color: #FFFFFF;
    clear: both;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    text-align: justify;
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    z-index: -1;
    /*    border: 2px solid #9e34b4;*/
    padding: 20px;
}

/* Change colour of our SVGs to match the site palette */
.full_star {
    fill: #9e34b4;
}

.open_star {
    fill: #9e34b4;
}

.review_container {
    overflow: auto;
    display: inline-block;
    clear: both;
}

.review_image_holder {
    width:20%;
    max-width:100%;
    max-height:100%;
    float:left;
}

.review_image_holder img{
    max-width:100%;
    max-height:100%;
    border-radius: 25px;
}

.review_copy {
    padding:0px 25px 0px 25px;
    width:80%;
    float:left;
    display:inline-block;
    vertical-align: middle;
}

.stars {
    padding-bottom:10px;
}


/*Styling container for latest news and social media feed*/
.latest-news-and-events {
    border-radius: 25px;
    background-color: #FFFFFF;
    clear: both;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    text-align: justify;
    z-index: -1;
    margin-left: 20px;
    padding:20px 20px 0px 20px;
}

.news_image_holder {
    width:100%;
    display:inline-block;
}

.news_image_holder img {
    width:100%;
    height:100%;
    border-radius: 25px;
}

.attraction_image_holder img{
    max-width:100%;
    max-height:100%;
    border-radius: 25px;
}

.news_item a {
    font-weight: bold;
}

.news_item a:hover {
    color: #9e34b4;
}


.news_item h4 {
    font-family: "Roboto Slab", "Arial", Serif;
    font-weight:bold;
    margin-top: 0px;
}


/* Styling social media feed*/
.social-media-feed {
    clear: both;
    display: inline-block;
    max-height: 100%;
    text-align: justify;
    margin-left: 20px;
    margin-top:30px;
    z-index: -1;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
}

.social_media_header {
    overflow: auto;
    display: inline-block;
    clear: both;
}
.instagram_logo_holder {

    width:15%;
    max-width:100%;
    max-height:100%;
    float:left;
}

.instagram_logo_holder img {
    max-width:100%;
    max-height:100%;
}

.social_media_header p{
    padding-left:20px;
    margin-top:0px;
    width:80%;
    float:left;
    display:inline-block;
    vertical-align: middle;
}

.instagram_container {
    margin: auto;
    width:100%;
    display:inline-block;

    text-align: center;
}

.mySlidesInstagram {
    text-align: center;
    margin: auto;
    width:100%;
    max-height:100%;
    border-radius: 25px;
}

/* Styling newsletter*/
.newsletter {
    display: grid;
    grid-template-columns: auto;
    max-width: 100%;
    margin-left: 120px;
    margin-right: 120px;
    overflow: hidden;
    text-align: center;
    z-index: -1;
    background: rgb(158, 52, 180); /* Fallback for older browsers without RGBA-support */
    background: rgba(158, 52, 180, 0.85);
    color: white;
    border-radius: 25px;
    padding: 20px;
}


.newsletter h3 {
    font-family: 'Luckiest Guy', cursive;
    font-size:25px;
    color: white;
}

.entry_fields {
    display: grid;
    grid-template-columns: 50% auto;
    column-gap: 30px;
    padding:0px 30px 20px 30px;
}

.tickboxes {
    padding:0px 30px 20px 30px;
}


.p_round_corners_aside {
    display: inline-block;
    max-width: 95%;
    text-align: justify;
    z-index: -1;
    border-radius: 25px;
    border: 2px solid #9e34b4;
    padding: 20px;
}


/* Styling round corners in blue, purple, and no border*/
.p_round_corners {
    border-radius: 25px;
    border: 2px solid #9e34b4;
    padding: 20px;
}


.w_round_corners {
    border-radius: 25px;
    border: 2px solid #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {
    background-image: url('media/space_gif.gif');
}

/* ***************************************************************************** */
/* Contributions: */
/* Practical Information Page was styled by Kishore Mishra. */
/* Additional styling was provided by Kristine Kuprevica. */
/* Images of Special Offers were transformed by Kenjiro Ono. */
/* Transformations were added by Kristine Kuprevica. */
/* Buttons were styled by Kristine Kuprevica and Kenjiro Ono. */



/********** STYLES FOR PRACTICAL INFORMATION PAGE **********/



body {
    font-family: "Roboto Slab", "Arial", Sans-serif;
}


/* Practical Information Page description and background*/
#practical_info {
    text-align: center;
    margin-top: 0px;
    color: white;
}


#practical_info + h2 {
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding-bottom: 20px;
    border-bottom: 0.5px solid #505159;
    color: white;
}


#pinfo_upper {
    width: 100%;
    padding-bottom: 50px;
}


.info_box {
    width: 900px;
    height:167px;
    margin: 20px auto;
}


/* Styling images */
.Image {
    width: 200px;
    height: 100%;
    border: 2px solid #9e34b4;
    margin: 0;
    border-radius: 15px 0px 0px 15px;
    background: white;
    float:left;
}

/*
.Image:hover{
transform: scale(1.1,1.1);
}*/


/* Styling contents- text*/
.info_box a {
    color: #6c3483;
    font-weight: bold;
}


.side_box {
    padding-left: 200px;
}


.info_box h3 {

    border: 2px solid #9e34b4;
    background: #9e34b4;
    color: white;
    margin: 0;
    border-radius: 0px 15px 0px 0px;
    padding: 2px;
    padding-left: 25px;
}


.info_box p {
    height: 123px;
    border: 2px solid #9e34b4;
    background: #f1f1f1;
    color: black;
    margin: 0;
    padding: 15px;
    padding-left:25px;
    border-radius: 0px 0px 15px 0px;
    text-align: justify;
}


/* Ticket Promotions*/
#specialoffers { /*This is the main container, holding the three Special Offers*/
    margin: 0 auto;
    padding: 30px;
    width:100%;
    text-align:center;
    clear:both;
}


.ticket_offer { /*This is the container for a Single Offer*/
    display: inline-block;
    vertical-align:top;
    width: 350px;
    height: 500px; 
    margin:20px;
    border-radius: 15px;
    border: 2px solid #9e34b4;
    background: #f1f1f1;
}


.offer_Image {
    width: 250px;
    height: 200px;
    margin-top:30px;
    padding-top: 30px;
    border: 1px solid #9e34b4;
    transform: skewX(25deg);
    transform: skewY(25deg);
    animation: shake 1.5s infinite;
    animation-direction: alternate;
    display: inline-block;
    z-index: 1;
    border-radius: 25%;
}


@keyframes shake {
    0% {
        transform: skewY(20deg);
    }
    100% {
        transform: skewY(-20deg);
    }
}


.ticket_offer_p {
    width: 300px;
    height: 200px;
    border: 2px solid #9e34b4;
    margin-left: 25px;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-top: 25px;
    color: #4a235a;
    background: white;
}


#ticket_offer1_p {
    width: 300px;
    height: 200px;
    border: 2px solid #9e34b4;
    margin-left: 25px;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    margin-top: 25px;
    color: #4a235a;
    background: white;
}


/* ***************************************************************************** */
/* Contributions: */
/* Book your Ticket Page was styled by Kenjiro Ono and Laurence Sonnenberg. */
/* Slideshow and Transformation were added by Kristine Kuprevica. */
/* Buttons were styled by Kristine Kuprevica and Kenjiro Ono. */



/********** STYLES FOR BOOKINGS PAGE **********/


/* Styling Ticket options*/
.ticket_price {
    font-family: "Roboto Slab", "Arial", Sans-serif;
    font-size: 14px;
    color: white;
    padding: 40px;
    border-radius: 25px;
    text-align: center;
}


.tickets_types {
    border: 3px solid #9e34b4;
    background-color: white;
    text-align: center;
    display: inline-block;
    vertical-align: top; /* Otherwise, inline block aligns on the bottom */
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    margin: 2em;

}


.tickets_types img {
    width: 55%;
    height: 300px;
    padding:10px;
    border-radius: 30%;
}


.tickets_types img:hover{
    transform: scale(1.1,1.1);
}


.ticket_price h2 {
    background: #0e1fb5;
    border-radius: 15px 15px 0px 0px;
    padding: 12px;
    margin:0px;
}


.ticket_price table {
    color: white;
    background-color: #0e1fb5;
    border-collapse: collapse;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 100px;
}


.price_table th,
.price_table td {
    border: 2px solid white;
}


.price_table td:hover {
    background-color: #091475;
}


.details {
    color: black;
    font-size: 13px;
    text-align: justify;
    font-family: "Roboto Slab", "Arial", Serif;
}


.details h3 {
    text-align: center;
    font-family: "Roboto Slab", "Arial", Sans-serif;
}


/* Styling Select your Tickets*/
#book_your_ticket {
    border: 3px solid #9e34b4;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 160px;
    font-family: "Roboto Slab", "Arial", Serif;
    font-size: 14px;
    color: black;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 25px;
}


.select_ticket {
    background-color: white;
    width: 32.2%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    margin: 5px;
    padding: 20px;
}


.select_ticket table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}


.select_ticket h3 {
    background-color: #0e1fb5;
    color: white;
    padding: 10px;
    border-radius: 6px;
}


.select_ticket table th,
td {
    font-size: 13px;
    border: 1px solid #ccc;
    padding: 5px;
}


.input[type=text], .select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.input[type=email], .select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.input[type=submit] {
    width: 100%;
    background-color: #9E34B4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.input[type=submit]:hover {
    background-color: #9E00B0;
}


/* Styling Buttons */
.button
{
    opacity: 0.8;
    border: none; 
    border-radius: 5px;
    background:  #9e34b4; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Roboto Slab", "Arial", Sans-serif;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.button:hover {opacity:1}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #002bff;
    font-weight:bold;
    text-transform: uppercase;
    background-color: white;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}


.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #002bff, #7a00ff, #ff00c8, #002bff);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 30s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.glow-on-hover:active {
    color: #000
}


.glow-on-hover:active:after {
    background: transparent;
}


.glow-on-hover:hover:before {
    opacity: 1;
}


.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* Currently an issue with this that needs to be resolved.
@keyframes glowing {
0% { background-position: 0 0; }
50% { background-position: 400% 0; }
100% { background-position: 0 0; }
*/
